@import url("./fonts.css");
@import url("./reset.css");
@import url("./theme.css");

* {
  font-family: "IBM Plex Mono";
  font-size: 18px;
  /* color: var(--color-primary); */
}

body {
  padding: 0;
  margin: 0;
  height: 100dvh;
  display: grid;
  place-items: center;
  background-color: antiquewhite;
  background-color: var(--bg);
}