:root {
  --bg: rgb(41, 43, 52);
  --bg-alt: rgb(48, 51, 61);
  --bg-alter: rgb(55, 59, 70);
  --color-primary: rgb(190, 180, 225);
  --color-primary: rgb(251, 223, 144);
  --color-secondary: rgb(190, 180, 225);
  --color-secondary: rgb(251, 223, 144);
  --color-secondary-dim: rgba(190, 180, 225, 0.5);
  --color-discrete: rgb(100, 100, 100);
  --color-discrete-dim: rgba(100, 100, 100, 0.5);
}

:root {
  --bg: rgb(220, 220, 220);
  --bg-alt: rgb(210, 210, 210);
  --bg-alter: rgb(200, 200, 200);
  --color-primary: rgb(24, 24, 24);
  --color-secondary: rgb(24, 24, 24);
  --color-secondary-dim: rgba(24, 24, 24, 0.5);
  --color-discrete: rgb(100, 100, 100);
  --color-discrete-dim: rgba(100, 100, 100, 0.5);
}

:root {
  --bg: rgb(220, 220, 200);
  --bg-alt: rgb(210, 210, 190);
  --bg-alter: rgb(200, 200, 180);
  --color-primary: rgb(24, 24, 14);
  --color-secondary: rgb(24, 24, 14);
  --color-secondary-dim: rgba(24, 24, 14, 0.5);
  --color-discrete: rgb(100, 100, 80);
  --color-discrete-dim: rgba(100, 100, 80, 0.5);
}