@import url("./reset.css");
@import url("./assets/ibm-plex-sans/css/ibm-plex-sans-all.css");

* {
  font-family: "IBM Plex Sans";
  font-size: 18px;
}

body {
  padding: 0;
  margin: 0;
  height: 100dvh;
  display: grid;
  place-items: center;
  background-color: antiquewhite;
}